<<<<<<< HEAD
.sharing-section{
    padding-top: 80px;
    text-align: center;
    color: white;
}



=======
>>>>>>> Dave
.image-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
<<<<<<< HEAD
    padding-top: 25px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 15px;

   
=======
    padding: 80px;
    margin: 0;
    
>>>>>>> Dave
  }
  
  
  .image {
      position: relative;
      width: 400px;
<<<<<<< HEAD
      height: 450px;
    
     
  }
  
  .image__img {
    width: 400px;
    height: 450px;
    padding-bottom: 25px;
=======
      padding: 40px;
      
  }
  
  .image__img {
      width: 100%;
>>>>>>> Dave
  }
  
  .image__overlay {
      position: absolute;
<<<<<<< HEAD
      padding: 30px;
=======
>>>>>>> Dave
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
      color: #ffffff;
      font-family: 'Quicksand', sans-serif;
      display: flex;
      flex-direction: column;
<<<<<<< HEAD
      align-items: flex-start;
=======
      align-items: center;
>>>>>>> Dave
      justify-content: center;
      opacity: 0;
      transition: opacity 0.25s;
  }
  
  .image__overlay--blur {
      backdrop-filter: blur(5px);
  }
  
  .image__overlay--primary {
      background: #009578;
  }
  
  .image__overlay > * {
      transform: translateY(20px);
      transition: transform 0.25s;
  }
  
  .image__overlay:hover {
      opacity: 1;
  }
  
  .image__overlay:hover > * {
      transform: translateY(0);
  }
  
  .image__title {
      font-size: 2em;
      font-weight: bold;
<<<<<<< HEAD
      text-align: center;
=======
>>>>>>> Dave
  }
  
  .image__description {
      font-size: 1.25em;
      margin-top: 0.25em;
<<<<<<< HEAD
      align-items: flex-start; 
  }
=======
  }
>>>>>>> Dave
